@import "~styles/abstracts";

.container {
  background-color: rgb(197, 209, 136);
  width: 100%;
  padding: 1rem 2rem;
  text-align: justify;

  @include from-md {
    padding: 2rem 5rem;
  }
}

.title {
  font-size: 2rem;
  font-weight: bold;
  color: purple;
}
