@import "~styles/abstracts";

.container {
  background-color: $bg-small-descript;
  color: lightgray;
  // width: 100%;
  padding: 1rem 2rem;
  text-align: justify;
  gap: 2rem;
  // height: 100vh;

  @include from-md {
    padding: 2rem 7rem;
    display: flex;
    gap: 2rem;
    flex-direction: row;
    justify-content: space-around;
  }
}

.data {
  margin: 1rem 0;

  @include from-md {
    width: 35%;
  }
}

.title {
  font-size: 2rem;
  font-weight: bold;
  color: $color-primary;
  text-align: left;
}
