@import "./colors.scss";

// Aquí se cambia los colores del fondo
:root {
  background-color: $bg-color;
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: $bg-color-dark;
    color: white;
  }
}

a {
  white-space: nowrap;
  text-decoration: none;
  color: black;
}
