@import "./colors.scss";

// Aquí se cambia los colores del fondo
:root {
  background-color: $bg-color;
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: $bg-color-dark;
    color: white;
    //     --foreground-rgb: 255, 255, 255;
    //     --background-start-rgb: 0, 0, 0;
    //     --background-end-rgb: 0, 0, 0;
  }
}
