@import "~styles/abstracts";

.container {
  background-color: $color-primary-light;
  width: 100%;
}

.head {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: space-around;
  padding: 1rem 0;
}

.image {
  border-radius: 60%;
  height: 50%;
  max-width: 150px;
  margin: 0 0.5rem;
}

.title {
  // background-color: firebrick;
  font-size: 2.5rem;
  max-width: 50%;
  margin-left: 1rem;

  @include from-md {
    display: flex;
    font-size: 3rem;
    max-width: 25%;
    justify-content: center;
  }
}
