@import "~styles/abstracts";

.container {
  // background-color: $color-primary-light;
  width: 100%;
}

.head {
  display: flex;
  padding: 2rem;
  gap: 2rem;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  // background-color: firebrick;
}

.imageContainer{
  // background-color: gold;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 50%;

}

.image {
  border-radius: 13%;
  height: 30%;
  width: 30%;
  // max-width: 12rem;
  margin: 0 0.5rem;

  @include from-md {
    height: 25%;
    width: 25%;
  }
}

.title {
  // background-color: firebrick;
  font-size: 2.5rem;
  max-width: 50%;
  margin-left: 1rem;

  @include from-md {
    display: flex;
    font-size: 3rem;
    max-width: 25%;
    justify-content: center;
  }
}


.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #C2BF86;


}