@import "@/styles/abstracts";

.navbar {
  display: flex;
  flex-direction: row;
  padding: 0.5rem 1rem;
  gap: 1rem;
  align-items: center;
  justify-content: right;
  list-style: none; // Quita los puntos de la lista
  margin: 0; // Elimina cualquier margen predeterminado
  padding: 0; // Elimina cualquier padding predeterminado

  @include from-md {
    padding: 0.5rem 2rem;
    font-size: 1.2rem;
    max-width: auto;
    gap: 2rem;
  }

  a {
    font-size: 1.25rem; 
    white-space: nowrap;
    text-decoration: none; 
    color: black;
  }
}
