/* sin imports: usa variables globales y media queries directas */

.downloadButton {
  border: 2px solid var(--primary);
  border-radius: var(--radius);
  padding: 0.3rem 0.5rem;
  background: transparent;
  color: inherit;

  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
  transition: all 0.2s ease;

  p {
    margin-right: 0.25rem;
  }

  &:hover {
    background: var(--primary);
    color: white;
    cursor: pointer;
  }
}

.icon {
  height: 1.25rem;
  margin: 0.25rem;

  @media (min-width: 768px) {
    height: 2rem;
    margin: 0.5rem;
  }
}
  