
.links {
  display: flex;
  margin-top: 0.25rem;
  font-size: 1rem;
  gap: 0.75rem;
  align-items: center;
  
  @media (min-width: 768px) {
    gap: 1rem;
  }
}

.icon {
  height: 1rem;
  transition: transform 0.2s ease;

  &:hover {
    transform: scale(1.1);
  }
}
