@import "~styles/abstracts";

.skillContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;

  @include from-md {
    width: auto;
  }
}

.card {
  --box-size: 5rem;

  border-color: rgb(111, 66, 66);
  border-width: 0.2rem;
  border-radius: 10px;
  margin: 0.5rem;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: var(--box-size);
  height: 5.5rem ;
  font-size: 0.7rem;

  @include from-md {
    margin: 1rem;
    width: auto;
    height: auto;
    max-width: 8rem;
    max-height: 8rem;
    font-size: 1rem;
  }

  .icon {
    max-width: 75%;
    color: red;

    @include from-md {
      max-width: 70%;
    }
  }
}
