@import "~styles/abstracts";


.container{
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  width: 100%;
  background-color: white;
  align-items: center;
}

.skillContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  
  max-width: 100%;
  transition: transform 0.3s ease-in-out;

  @include from-md {
    width: auto;
    max-width: 70%;
  }

  :hover {
    transform: scale(1.05);
  }
}

.card {
  --box-size: 5rem;

  border-color: black;
  border-width: 0.15rem;
  border-radius: 10px;
  margin: 0.5rem;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: var(--box-size);
  height: 5.5rem;
  font-size: 0.7rem;
  color: black;
  background-color: gold;

  @include from-md {
    border-width: 0.25rem;
    margin: 1rem;
    width: 8rem;
    height: 8rem;
    font-size: 1rem;
  }

  .icon {
    max-width: 75%;
    // width: 3rem;

    @include from-md {
      max-width: 70%;
    }
  }

  .iconFA{
    max-width: 75%;
    max-height: 75%;
    min-width: 75%;
    min-height: 2.75rem;
  }
}
