@import "~styles/abstracts";

.skillContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  transition: transform 0.3s ease-in-out;
  background-color: white;

  @include from-md {
    width: auto;
  }

  :hover {
    transform: scale(1.05);
  }
}

.card {
  --box-size: 5rem;

  border-color: black;
  border-width: 0.15rem;
  border-radius: 10px;
  margin: 0.5rem;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: var(--box-size);
  height: 5.5rem;
  font-size: 0.7rem;
  color: black;

  @include from-md {
    border-width: 0.25rem;
    margin: 1rem;
    width: auto;
    height: auto;
    max-width: 8rem;
    max-height: 8rem;
    font-size: 1rem;
  }

  .icon {
    max-width: 75%;

    @include from-md {
      max-width: 70%;
    }
  }
}
