// $color-primary-lightest: hsl(207, 80%, 55%);
$color-primary-lighter: hsl(207, 80%, 50%);
$color-primary-light: rgb(23, 124, 207);
$color-primary: rgb(23, 124, 207);
// $color-primary: #002a52;
$color-primary-darker: #002a52;
// $color-primary-darker: #002a52;
$color-primary-desaturated: hsl(211, 40%, 60%);

$color-gray-light: hsl(0, 0%, 93%);
$color-gray: hsl(0, 0%, 69%);
$color-gray-dark: hsl(221, 12%, 60%);
$color-gray-darker: hsl(211, 12%, 52%);

$color-green: hsl(62, 100%, 40%);
$color-orange: hsl(38, 95%, 53%);
$color-error: hsl(0, 100%, 50%);

$clickferry-color: #004998;
