/* styles/Navbar.module.css */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: #333;
    color: white;
  }
  
  .menuIcon {
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .menuPanel {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 30%; /* Cambia según tus necesidades */
    background-color: #333;
    color: white;
    padding: 2rem;
    display: flex;
    flex-direction: column;
  }
  
  .menuPanel ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .menuPanel li {
    margin-bottom: 1rem;
  }
  
  .socialMedia a {
    color: white;
    text-decoration: none;
    margin-right: 1rem;
  }
  